.large-text {
  font-size: var(--wp--preset--font-size--xxlarge);
  line-height: var(--wp--preset--font-size--xxlarge);
  margin-top: 0;

  em {
    font-weight: 300;
  }
}

.wp-block-columns {
  max-width: 1000px;
  gap: 2rem;
}

.static-column {
  max-width: 400px;
}

.stretched-column {
  figure {
    margin: 0;
  }
}

@media (max-width: $view-mobile-max) {
  .wp-block-columns {
    display: block;
  }

  .static-column {
    width: 100%;
    max-width: none;
  }
}
