:root {
  --code-color-meta: #08f;
  --code-color-tag: #20af2c;
  --code-color-var: #f38320;
  --code-color-keyword: #eb4135;
  --code-color-string: #36668e;
  --code-color-params: #787d82;
  --code-color-comment: #8b949e;
  --code-color-func: #a668e8;
}

.wp-block-code {
  font-size: 1rem;
  background-color: var(--color-base-lightish);
  line-height: 1.6rem;
}

.wp-block-code code {
  padding: 1rem;
}

.wp-block-code .language-name {
  padding: 0.5rem 1rem;
  background-color: var(--color-base-darker);

  &::before {
    content: '\2193';
    padding-right: 0.5rem;
    font-size: 1.2rem;
  }
}

.wp-block-code .code-wrapper {
  background-color: var(--color-base-darkish);
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;

  color: var(--code-color-params);
  background: #0d1117;
}

.hljs-comment,
.hljs-punctuation {
  color: var(--code-color-comment);
}

.hljs-attr,
.hljs-attribute,
.hljs-meta,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  color: var(--code-color-meta);
}

.hljs-variable,
.hljs-literal,
.hljs-number,
.hljs-doctag {
  color: var(--code-color-var);
}

.hljs-params {
  color: var(--code-color-params);
}

.hljs-function {
  background-color: var(--color-base-func);
}

.hljs-class,
.hljs-tag,
.hljs-title,
.hljs-built_in {
  color: var(--code-color-tag);
}

.hljs-keyword,
.hljs-type,
.hljs-builtin-name,
.hljs-meta-keyword,
.hljs-template-tag,
.hljs-template-variable {
  color: var(--code-color-keyword);
}

.hljs-string,
.hljs-undefined {
  color: var(--code-color-string);
}

.hljs-regexp {
  color: var(--code-color-string);
}

.hljs-symbol {
  color: var(--code-color-meta);
}

.hljs-bullet {
  color: var(--code-color-var);
}

.hljs-section {
  color: var(--code-color-meta);
  font-weight: bold;
}

.hljs-quote,
.hljs-name,
.hljs-selector-tag,
.hljs-selector-pseudo {
  color: var(--code-color-tag);
}

.hljs-emphasis {
  color: var(--code-color-var);
  font-style: italic;
}

.hljs-strong {
  color: var(--code-color-var);
  font-weight: bold;
}

.hljs-deletion {
  color: #ffa198;
  background-color: #490202;
}

.hljs-addition {
  color: var(--code-color-tag);
  background-color: #04260f;
}

.hljs-link {
  color: var(--code-color-string);
  font-style: underline;
}
