@import 'mixins/spacer';

body {
  --color-base-darkish: color-mix(in srgb, var(--wp--preset--color--base), #000 5%);
  --color-base-darker: color-mix(in srgb, var(--wp--preset--color--base), #000 10%);
  --color-base-lightish: color-mix(in srgb, var(--wp--preset--color--base), #fff 2%);
  --color-base-lighter: color-mix(in srgb, var(--wp--preset--color--base), #fff 5%);
  --color-text-darker: color-mix(in srgb, var(--wp--preset--color--text), #000 25%);
  --color-border-darker: color-mix(
    in srgb,
    var(--wp--preset--color--border),
    var(--wp--preset--color--base) 20%
  );
  --color-border-darker-x: color-mix(
    in srgb,
    var(--wp--preset--color--base),
    var(--wp--preset--color--border) 15%
  );

  padding: 0;
  padding-bottom: 2rem;
}

header {
  background-color: var(--wp--preset--color--base);
}

.spacer {
  @include spacer;
}

.spacer-with-border {
  border-top: 1px solid var(--color-border-darker);

  @include spacer;
}

.wp-block-post:not(:last-child) {
  border-bottom: 1px solid var(--color-border-darker-x);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.title-wrapper {
  align-items: flex-start !important;
}

@import 'entry/title';
@import 'entry/content';
@import 'entry/images';
@import 'code-highlighting';

.about {
  @import 'parts/section-about';
}

.post-full-list {
  @import 'parts/post-full-list';
}

nav.sub-navigation {
  text-transform: uppercase;
  font-size: var(--wp--preset--font-size--small);
}

nav.sub-navigation a.wp-block-navigation-item__content {
  background-color: var(--color-base-darker);
  padding: 0 0.3rem;
  border-radius: 3px;
  color: var(--color-text-darker) !important;

  &:hover {
    background-color: var(--color-base-lighter);
    color: var(--wp--preset--color--text) !important;
  }

  &::before {
    content: '⤽';
    font-size: var(--wp--preset--font-size--xlarge);
    padding-right: 0.3rem;
    line-height: 0;
    display: block;
    float: left;
    padding-top: 0.6rem;
  }
}

.single-post {
  // @import 'parts/post-single';
}
