/**
 * Spacing for all top level content elements.
 */
.wp-block-post-content > * {
  margin-block-start: 1rem;
  margin-block-end: 2rem;
  line-height: 1.7rem;
  text-align: justify;
}

a {
  color: var(--wp--preset--color--primary);
  text-decoration: none;

  &:hover {
    color: var(--wp--preset--color--base-link-hover);
    text-decoration: underline;
  }
}
